/* 
    Created on : 20-may-2014, 2:17:06
    Author     : Jota Uribe
*/

#lobbyScreen{
    margin-top: 60px;
}

.input-group{
    margin-bottom: 10px;
}

#spaceJoiner{
    padding-left: 5%;
    width: 95%;
}

#spaceJoiner > .page-header,
#workspacesList .page-header{
    margin-left: auto;
    margin-right: auto;
}

#workspacesList th{
    border-top-style: none;
}

.workSpaceMini{
    width: 100%;
    height: auto;
    font-size: 85%;
}

.workSpaceDetails span, .workGroup{
    cursor: pointer;
}