<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Onebrain</title>

        <!-- BOOTSTRAP: Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
        <link href="/onebrain/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>

        <!--Custon CSS-->
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href="/onebrain/static\fonts/OpenSans-Bold.ttf" rel='stylesheet' type='text/css'>
        <link href='/onebrain/static/css/signupStyles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="globalWrapper" class="container" >
            <div class="page-header center-block">
                <h1 onclick="window.open('lobby.html', '_self')" ><img src="http://localhost/skyup/img/skyup-logo.png"></h1>
                <h5 class="slogan">The platform for your mind</h5>
            </div>
            <div class="formContainer">
                <form class="well row" method="POST" action="">
                    <div class="col-md-7 formFields">
                        <div class="form-group">
                            <label for="txtName" class="">Name</label><input type="text" class="form-control" id="txtName" />
                        </div>
                        
                        <div class="form-group">
                            <label for="txtPassword" class="">Password</label><input type="password" class="form-control" id="txtPassword" />
                        </div>
                        <div>
                            <button id="   Button" type="button" class="btn pull-left" onclick="window.open('home', '_self')">Cancel</button>
                            <button id="signupButton" type="submit" class="btn btn-primary pull-right">Create my account</button>
                        </div>
                    </div>
                    <div class="col-md-5 asideContainer">
                        <div id="aside">
                            <div id="termsOfUse" class="center-block">
                                By Signing up for Innova Path you accept the <a href="#">Terms of Use</a>
                            </div>
                            <div class="footer center-block">Already a User?<br><a href="#">Sign In</a>
                            </div>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
        <!-- JQUERY -->
        <script src="/onebrain/static/js/libs/jquery/jquery.js"></script>
        
        <!--SCRIPTS-->
        <script type="text/javascript" src="/onebrain/static/js/signup.js"></script>

        <!-- BOOTSTRAP: Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
        <script src="/onebrain/static/js/libs/twitter-bootstrap/js/bootstrap.js"></script>
    </body>
</html>